extends layout

block content
  div(class="row")
    div(class="col s12 m6")
      div(class="card orange darken-3")
        div(class="card-content white-text text-darken-2")
           span(class="card-title")!=title
           div(class="collection")
             a(class="collection-item" href="/home.html") SunSmart
             a(class="collection-item" href="/pizzamap.html") Tucson Pizza Map
